<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
 <mapper namespace="FruitsMapper">
 
 <resultMap type="item" id="selectFruitRM">    <!-- select 구문일 때  컬럼명과 필드 값이 다를때 alias 매번 쓰기 귀찮고 힘드니까 사용한다 -->
		<result property="itemId" column="item_id"/>
		<result property="itemName" column="item_name"/>
		<result property="price" column="price"/>
		<result property="description" column="description"/>
		<result property="url" column="picture_url"/>
		<result property="count" column="count"/>
</resultMap>
 
 
<sql id="select-fruit">
SELECT 
item_id, item_name, price, description, picture_url, count
FROM 
item 
</sql>


<select id="getItemList" resultMap="selectFruitRM">
	<include refid="select-fruit"></include>
</select>


<select id="getItem" resultMap="selectFruitRM" parameterType="int">
	<include refid="select-fruit"></include>
	WHERE item_id = #{VALUE}
</select>


 </mapper>
